body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: teal;
    color: white;
}

.header {
    background-color: lightslategrey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
  
.logo {
    width: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-menu {
    text-align: right;
}
  
.header-menu ul li{
    color: white;
    display: inline-block;
    margin-left: 37px;
    margin-top: 57px;
    font-size: 25px;
}
  
.header-menu ul li a{
    text-decoration: none;
    color: white;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
  
.header-menu ul li a:hover{ 
    color: chartreuse;
}

.section1 {
    position: relative;
}

.image1{
    width: 200px;
    border-radius: 50%;
    position: relative;
    top: 278px;
    left: 160px;
}

.div1 {
    position: relative;
    width: 800px;
}

.h1 {
    position: relative;
    text-align: center;
    left: 448px;
    top: 75px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: chartreuse;
}

.p1{
    text-align: left;
    font-size: 20px;
    line-height: 1.25;
    position: relative;
    left: 450px;
    top: 125px;
    color: chartreuse;
}
.section2 {
    position: relative;
    margin-top: 131px;
    height: 490px;
}

.container2 {
    width: 1300px;
    height: 475px;
    position: absolute;
    top: 10px;
    left: 35px;
}

.image2 {
    width: 200px;
    height: 475px;
}

.image3 {
    width: 417.5px;
    height: 230px;
    position: absolute;
    top: 0px;
    left: 220px;
}

.image4 {
    width: 417.5px;
    height: 230px;
    position: relative;
    left: 17px;
}

.image5 {
    width: 200px;
    height: 475px;
    position: relative;
    left: 35px;
}

.image6 {
    width: 417.5px;
    height: 230px;
    position: absolute;
    right: 0px;
}

.image7 {
    width: 430px;
    height: 230px;
    position: absolute;
    right: -5px;
    bottom: 0px;
}

.section3 {
    position: relative;
}

.image8 {
    width: 375px;
    height: 164px;
    position: relative;
    top: 132px;
    left: 303.5px;
}

.ielusc {
    text-align: left;
    width: 400px;
    font-size: 20px;
    line-height: 1.25;
    color: chartreuse;
    position: relative;
    left: 732.5px;
    top: 11px;
}

.medici {
    text-align: left;
    width: 400px;
    font-size: 20px;
    line-height: 1.25;
    color: chartreuse;
    position: relative;
    top: 100px;
    left: 303.5px;
}

.image9 {
    width: 375px;
    height: 164px;
    position: relative;
    left: 678.5px;
    bottom: 21px;
}

.image10 {
    width: 375px;
    height: 164px;
    position: relative;
    right: 75.5px;
    top: 144px;
}

.maria {
    text-align: left;
    width: 400px;
    font-size: 20px;
    line-height: 1.25;
    color: chartreuse;
    position: relative;
    left: 682.5px;
    top: 21px;
}